.banner {
    background-image: url("darkwood_bg.png");
    width: 98.2%;
    padding-top: 30px;
    padding-bottom: 110px;
    padding-left: 30px;
    box-shadow: 0px 4px 12px black;
} 

body {
    background-image:url("lightwood_bg.png");
    padding:0; 
    margin:0;
}

.darkwood-div { 
    background-image: url("darkwood_bg.png");
    box-shadow: 0px 4px 12px black;
}

.vertical-darkwood-div {
    background-image: url("darkwood_bg.png");
    box-shadow: 0px 4px 12px black;
    height: 500px;
    width: 400px;
    margin-left: 40px;
}

h1 {
    font-family: Bookman, URW Bookman L, serif;
    text-shadow: 2px 2px #000000;
	color: rgb(255, 255, 255); 
	margin: 0;
	line-height: 44px;
    padding-right: 40px;
}

.heading-style {
    font-family: Bookman, URW Bookman L, serif;
    text-shadow: 2px 2px #000000;
	color: rgb(255, 255, 255);
    vertical-align: middle;
	margin: 0;
}

.sub-text {
    font-family: Bookman, URW Bookman L, serif;
    color: rgb(206, 206, 206);
    line-height: 44px;
}

.put-left {
    float: left
}
 
.put-centre {
    text-align: center;
}

.put-right {
    float: right
}

.back-button {
    margin-top: 0%;
    margin-right: 30px;
    float: right;
    width: 15%;
    height: 75px;
    font-family: Bookman, URW Bookman L, serif;
    text-shadow: 2px 2px #000000;
    color: white;
    font-size: medium;
    font-size: 30px;
    background-color: gray;
    border-radius: 12px;
}

.back-button:active {
    background-color:rgb(83, 83, 83);
    transform: translateY(4px);
}

.back-button:hover {
    border-radius: 24px;
}

.logout-button {
    margin-top: 0%;
    margin-right: 30px;
    float: right;
    width: 15%;
    height: 75px;
    font-family: Bookman, URW Bookman L, serif;
    text-shadow: 2px 2px #000000;
    color: white;
    font-size: medium;
    font-size: 30px;
    background-color: gray;
    border-radius: 12px;
    }

.logout-button:active {
    background-color:rgb(83, 83, 83);
    transform: translateY(4px);
}

.logout-button:hover {
    border-radius: 24px;
}

#file-view-area {
    overflow-y: scroll;
    height: 300px;
}

.file-button {
    box-shadow: 0px 4px 8px black;
    background-color: transparent;
    background-image: url("file_icon.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: Bookman, URW Bookman L, serif;
    text-shadow: 2px 2px #000000;
	color: rgb(255, 255, 255);
    padding-top: 91px;
}
